<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rma_2_rijad_softic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Splash screen -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" android:exported="true" />
        <activity android:name=".RegisterActivity" android:exported="true" />
        <activity android:name=".HomeActivity" android:exported="true" />
        <activity android:name=".SearchActivity" android:exported="true" />
        <activity android:name=".InfoActivity" android:exported="true" />
        <activity android:name=".ProfilActivity" android:exported="true" />

        <activity android:name=".RacunariActivity" android:exported="true" />
        <activity android:name=".PeriferijaActivity" android:exported="true" />
        <activity android:name=".MonitoriActivity" android:exported="true" />
        <activity android:name=".KlimeActivity" android:exported="true" />

        <activity android:name=".KupovinaActivity" android:exported="true" />
        <activity android:name=".NarudzbeActivity" android:exported="true" />
        <activity android:name=".PromjenaSifreActivity" android:exported="true" />

        <activity android:name=".PC1Activity" android:exported="true" />
        <activity android:name=".PC2Activity" android:exported="true" />
        <activity android:name=".Periferija1Activity" android:exported="true" />
        <activity android:name=".Periferija2Activity" android:exported="true" />
        <activity android:name=".Monitor1Activity" android:exported="true" />
        <activity android:name=".Monitor2Activity" android:exported="true" />
        <activity android:name=".Klima1Activity" android:exported="true" />
        <activity android:name=".Klima2Activity" android:exported="true" />

    </application>

</manifest>